<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="core/tests/bootstrap.php" colors="true">
    <php>
        <ini name="error_reporting" value="32767"/>
        <ini name="memory_limit" value="-1"/>
    </php>
    <testsuites>
        <testsuite name="unit">
            <directory>./modules/contrib/media_webdam/tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./modules/contrib/media_webdam/src</directory>
            <exclude>
                <directory>./modules/contrib/media_webdam/src/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
